.header{
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 150px;
}
img{
    display: block;
    margin: auto;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0%;
    background-color: deepskyblue;
}
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
.navigation a:hover{
    background-color: #1565C0;
}
body{
    background: linear-gradient(90deg, rgba(174,247,94,1) 1%, rgba(79,172,249,1) 100%);
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#box1{
    text-align: center;
    grid-column: 1/4;
}
#box2{
    background: darkred;
    grid-column: 1/4;
}
